<form [formGroup]="form"><!--(ngSubmit)="onSubmit()"-->
  <h5>Datos del Cliente</h5>
  <div class="w-100 d-flex" style="gap:10px">
    <mat-form-field>
      <mat-label>CUIT/DNI</mat-label>
      <input matInput formControlName="cuitDni" >
    </mat-form-field>
    @if(!clienteEncontrado){
      <button mat-mini-fab color="primary" (click)="findClient()">
        <mat-icon>send</mat-icon>
      </button>
    }
    @else{
      <button mat-mini-fab color="warn" (click)="resetFindCliente()">
        <mat-icon>close</mat-icon>
      </button>
    }
  </div>
  <mat-form-field class="w-100">
    <mat-label>Condición IVA</mat-label>
    <mat-select formControlName="condicionIva">
      <mat-option value="CONSUMIDOR_FINAL">Consumidor Final</mat-option>
      <mat-option value="MONOTRIBUTISTA">Monotributista</mat-option>
      <mat-option value="RESPONSABLE_INSCRIPTO">Responsable Inscripto</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="w-100">
      <mat-label>Nombre y Apellido</mat-label>
      <input matInput formControlName="nombre"><!--clienteEncontrado && !edit-->
  </mat-form-field>
  <mat-form-field class="w-100">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="direccion">
  </mat-form-field>
  <mat-form-field class="w-100">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono">
  </mat-form-field>
  @if(clienteEncontrado){
    <button mat-raised-button color="primary" (click)="editForm()">Editar Datos</button>
  }
</form>
