<div>
    <div class="d-flex" style="gap:10px">
      <div>
        <mat-form-field>
          <mat-label>Buscar</mat-label>
          <input matInput type="text" [(ngModel)]="busqueda" [disabled]="removeableFilter">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Método Pago</mat-label>
          <mat-select [(ngModel)]="selectedTipoPago" [disabled]="removeableFilter">
            @for(p of tiposPago; track p){
              <mat-option [value]="p"><b>{{p.nombre}}</b> ({{p.porcentajeRecargo}}%)</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Desde</mat-label>
          <input matInput [matDatepicker]="pickerMinimio" [(ngModel)]="fechaDesde" [disabled]="removeableFilter">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerMinimio"></mat-datepicker-toggle>
          <mat-datepicker #pickerMinimio></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Hasta</mat-label>
          <input matInput [matDatepicker]="pickerMaximo" [(ngModel)]="fechaHasta" [disabled]="removeableFilter">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerMaximo"></mat-datepicker-toggle>
          <mat-datepicker #pickerMaximo></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        @if(removeableFilter){
          <button mat-flat-button color="accent" (click)="removeFilter()"><mat-icon>close</mat-icon> Borrar filtros</button>
        }
        @else{
          <button mat-flat-button color="primary" [disabled]="busqueda.length<3 && !(selectedTipoPago) && !(fechaDesde) && !(fechaHasta)" (click)="getItems()"><mat-icon>search</mat-icon> Filtrar</button>
        }
      </div>
    </div>
    <div>
      <table mat-table [dataSource]="ventas" class="mat-elevation-z8 my-3">
        <!-- Position Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let venta">{{parseToDate(venta.fechaHora) | date: 'dd/MM/yyyy - HH:mm'}}</td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef>Cliente</th>
          <td mat-cell *matCellDef="let venta">
            @if(venta.cliente!=null){
              <span>{{venta.cliente.nombre}}</span>
            }
            @else{
              <span>-</span>
            }
          </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="tipoPago">
          <th mat-header-cell *matHeaderCellDef>Tipo de Pago</th>
          <td mat-cell *matCellDef="let venta">{{venta.tipoPago.nombre}}</td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Total</th>
          <td mat-cell *matCellDef="let venta">{{calcularTotal(venta.detalleVenta) | currency}}</td>
        </ng-container>
        
        <ng-container matColumnDef="buttons">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let venta" class="text-end">
            <button mat-icon-button (click)="openDialog(venta)" ><mat-icon>zoom_in</mat-icon></button>
          </td>
        </ng-container>
        
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr><!--(click)="send(articulo)"-->
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">
            <div class="w-100 d-flex justify-content-center">
              <div style="height: 200px;" class="d-flex w-100">
                <div class="m-auto text-center">
                  <mat-icon class="illustration-icon">list_alt_add</mat-icon>
                  @if(removeableFilter){
                    <p class="fs-2">No hay ventas que cumplan con la búsqueda</p><!--removeableFilter-->
                  }
                  @else{
                    <p class="fs-2">Aquí veras las ventas que registres</p>
                  }
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>