<div class="d-flex">
  <div>
    <app-buscador-articulos></app-buscador-articulos>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Método Pago</mat-label>
      <mat-select [formControl]="selectedTipoPago">
        @for(p of tiposPago; track p){
          <mat-option [value]="p"><b>{{p.nombre}}</b> ({{p.porcentajeRecargo}}%)</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button mat-mini-fab (click)="addDetalleVenta()"><mat-icon>add</mat-icon></button>
  </div>
</div>
<table mat-table [dataSource]="detalleVenta">
    <!-- Position Column -->
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let detalle">{{detalle.articulo.codigo}}</td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let detalle">{{detalle.articulo.nombre}}</td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef>Cantidad</th>
      <td mat-cell *matCellDef="let detalle">{{detalle.cantidad}}</td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef>Precio</th>
      <td mat-cell *matCellDef="let detalle">{{detalle.precio}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="subtotal">
      <th mat-header-cell *matHeaderCellDef>Subtotal</th>
      <td mat-cell *matCellDef="let detalle">{{(detalle.precio * detalle.cantidad)}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="send('hola')" *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="5">
        <div class="w-100 d-flex justify-content-center">
          <div style="height: 200px;" class="d-flex w-100">
            <div class="m-auto text-center">
              <mat-icon class="illustration-icon text-light">shopping_cart</mat-icon>
              <p class="text-light fs-2">Agrega detalles de venta</p>
            </div>
          </div>
        </div>
      </td>
    </tr>
</table>