<app-buscador-articulos></app-buscador-articulos>
<mat-form-field>
    <mat-label>Método Pago</mat-label>
    <mat-select [formControl]="selectedTipoPago">
      @for(p of tiposPago; track p){
        <mat-option [value]="p"><b>{{p.nombre}}</b> ({{p.porcentajeRecargo}}%)</mat-option>
      }
    </mat-select>
    <!--<mat-hint>Seleccionado: {{selectedTipoPago.value?.nombre}}</mat-hint>-->
  </mat-form-field>
  <button (click)="addDetalleVenta()">Agregar</button>
<table mat-table [dataSource]="detalleVenta">
    <!-- Position Column -->
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let detalle">{{detalle.articulo.codigo}}</td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let detalle">{{detalle.articulo.nombre}}</td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef>Cantidad</th>
      <td mat-cell *matCellDef="let detalle">{{detalle.cantidad}}</td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef>Precio</th>
      <td mat-cell *matCellDef="let detalle">{{detalle.precio}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="subtotal">
      <th mat-header-cell *matHeaderCellDef>Subtotal</th>
      <td mat-cell *matCellDef="let detalle">{{(detalle.precio * detalle.cantidad)}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        (click)="send('hola')"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
</table>