<form [formGroup]="form"><!--(ngSubmit)="onSubmit()"-->
    <mat-form-field>
      <mat-label>Código</mat-label>
      <input matInput formControlName="codigo">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Costo</mat-label>
        <input matInput formControlName="costo">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Stock</mat-label>
        <input matInput formControlName="stock">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Recargo</mat-label>
        <input matInput formControlName="recargo">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="descripcion"></textarea>
    </mat-form-field>
    <!--
      <p>{{form.get('cuitDni')?.value}}</p>
    <p>{{form.get('condicionIva')?.value}}</p>
    <p>{{form.get('nombre')?.value}}</p>
    <p>{{form.get('direccion')?.value}}</p>
    <p>{{form.get('telefono')?.value}}</p>
    -->
    <form [formGroup]="formDetalleCombo">
        <app-buscador-articulos></app-buscador-articulos>
        <mat-form-field>
            <mat-label>Recargo</mat-label>
            <input matInput formControlName="cantidad">
        </mat-form-field>
        <p>Articulos incluidos</p>
    </form>
    <button (click)="getValue()">Ver objeto</button>
</form>