.number-input {
  text-align: right;
}

input.number-input::-webkit-outer-spin-button,
input.number-input::-webkit-inner-spin-button {
  display: none;
}

input.number-input {
  -moz-appearance: textfield;
}


.combo-item-container {
  background-color: var(--mdc-filled-text-field-container-color);
}