<div class="position-relative">
    <form class="row m-0 g-1" [formGroup]="form">
        <mat-form-field class="col-md-4">
          <mat-label>Código</mat-label>
          <input matInput formControlName="codigo">
        </mat-form-field>
        <mat-form-field class="col-md-8">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>
        <mat-form-field floatLabel="always" class="col-md-4">
            <mat-label>Costo</mat-label>
            <input matInput type="number" class="number-input" min="0" placeholder="0" formControlName="costo">
            <span matTextPrefix>$&nbsp;</span>
            <span matTextSuffix>.00</span>    
        </mat-form-field>
        <mat-form-field class="col-md-4">
            <mat-label>Stock</mat-label>
            <input matInput type="number" class="number-input" min="0" placeholder="0" formControlName="stock">
        </mat-form-field>
        <mat-form-field class="col-md-4">
            <mat-label>Recargo</mat-label>
            <input matInput type="number" class="number-input" min="0" placeholder="0" formControlName="recargo">
        </mat-form-field>
        <mat-form-field class="col-md-12">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="descripcion"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="openDialog()" type="button">
            Imágenes
            <mat-icon>add_photo_alternate</mat-icon>
        </button>
        <form [formGroup]="formDetalleCombo">
            <h4 class="text-center mt-2">Combo</h4>
            <div class="row g-1">
                <div class="col-4">
                    <app-buscador-articulos></app-buscador-articulos>
                    <mat-form-field class="w-100">
                        <mat-label>Cantidad</mat-label>
                        <input matInput type="number" class="number-input" min="0" placeholder="0" formControlName="cantidad">
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="addProducto()">
                        Agregar
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="col-8">
                    <mat-chip-set class="p-3 h-100 combo-item-container overflow-auto">
                        @for (p of productos; track p) {
                          <mat-chip><b>{{p.articulo.codigo}} {{p.articulo.nombre}} - Cantidad:{{p.cantidad}}</b> <mat-icon matChipRemove (click)="removeProducto(p)">cancel</mat-icon></mat-chip>
                        }
                    </mat-chip-set>
                </div>
            </div>
        </form>
        <!--<button (click)="getValue()">Ver objeto</button>-->
        <div class="text-end mt-4">
            @if(id){
                <button mat-raised-button color="primary" (click)="save()">Guardar Cambios</button>
                <button mat-raised-button color="accent" (click)="cancelEdit()">Cancelar</button>
            }
            @else{
                <button mat-raised-button color="primary" (click)="save()">Guardar</button>
            }
        </div>
    </form>
</div>
  