<form [formGroup]="form">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Recargo</mat-label>
        <input matInput formControlName="porcentajeRecargo">
    </mat-form-field>
    @if(toEdit){
      <button mat-raised-button color="primary" (click)="save()">Guardar Cambios</button>
      <button mat-raised-button color="accent" (click)="cancelEdit()">Cancelar</button>
    }
    @else{
      <button mat-raised-button color="primary" (click)="save()">Guardar</button>
    }
  </form>