<div class="outlet-container bg-primary vh-100 d-flex flex-column">
    <mat-toolbar>
        <span>MUEBLERIA</span>
        <span class="example-spacer"></span>
        <a mat-button [routerLink]="'mis-ventas'" class="text-secondary" routerLinkActive="text-light">
            <mat-icon>favorite</mat-icon>
            Lista de Ventas
        </a>
        <a mat-button [routerLink]="'venta'" class="text-secondary" routerLinkActive="text-light">
            <mat-icon>favorite</mat-icon>
            Nueva Venta
        </a>
        <a mat-button [routerLink]="'mis-articulos'" class="text-secondary" routerLinkActive="text-light">
            <mat-icon>favorite</mat-icon>
            Lista de Artículos
        </a>
        <a mat-button [routerLink]="'articulo'" class="text-secondary" routerLinkActive="text-light">
            <mat-icon>favorite</mat-icon>
            Nuevo Artículo
        </a>
        <a mat-button [routerLink]="'tipo-pago'" class="text-secondary" routerLinkActive="text-light">
            <mat-icon>favorite</mat-icon>
            Métodos de Pago
        </a>
        <a mat-button class="text-danger">
            <mat-icon>favorite</mat-icon>
            Salir
        </a>
    </mat-toolbar>
    <div class="px-4 py-4 flex-grow-1">
        <router-outlet></router-outlet>
    </div>
</div>