<div class="outlet-container vh-100 d-flex flex-column">
    <mat-toolbar class="toolbar-menu">
        <!--
        <span>MUEBLERIA</span>
        <span class="example-spacer"></span>
        -->
        <a mat-button [routerLink]="'mis-ventas'" class="text-secondary" routerLinkActive="text-light">
            <mat-icon>receipt_long</mat-icon>
            Lista de Ventas
        </a>
        <a mat-button [routerLink]="'venta'" class="text-secondary" routerLinkActive="text-light">
            <mat-icon>point_of_sale</mat-icon>
            Nueva Venta
        </a>
        <a mat-button [routerLink]="'mis-articulos'" class="text-secondary" routerLinkActive="text-light">
            <mat-icon>menu_book</mat-icon>
            Lista de Artículos
        </a>
        @if(isAdmin){
            <a mat-button [routerLink]="'articulo'" class="text-secondary" routerLinkActive="text-light">
                <mat-icon>add_circle</mat-icon>
                Nuevo Artículo
            </a>
            <a mat-button [routerLink]="'tipo-pago'" class="text-secondary" routerLinkActive="text-light">
                <mat-icon>paid</mat-icon>
                Métodos de Pago
            </a>
        }
        <span class="example-spacer"></span>
        <a mat-button class="text-danger" (click)="logout()">
            <mat-icon>logout</mat-icon>
            Salir
        </a>
    </mat-toolbar>
    <div class="px-4 py-4 flex-grow-1">
        <router-outlet></router-outlet>
    </div>
</div>