<!--
<mat-tab-group [(selectedIndex)]="selectedTabIndex" [dynamicHeight]="true">
  <mat-tab label="First">
    <div class="tab-container">
      <div class="text-end">
        <button mat-raised-button (click)="new()">Nuevo Artículo</button>
      </div>
      <app-lista-articulos (selectedItem)="toEdit($event)"></app-lista-articulos>
    </div>
  </mat-tab>
  <mat-tab label="Second">
    <div class="tab-container">
      <div class="d-flex justify-content-between mb-4">
        <button mat-raised-button (click)="selectedTabIndex = 0">Lista de Artículos</button>
        <div>
          <app-upload-articulo (saveEvent)="reloadList()"></app-upload-articulo>
        </div>
      </div>
      <app-form-combo [toEdit]="articuloSelected" (saveEvent)="reloadList()"></app-form-combo>
    </div>
  </mat-tab>
</mat-tab-group>
-->
<div>
  <div class="text-end">
    <a mat-raised-button [routerLink]="'/articulo'">Nuevo Artículo</a>
  </div>
  <app-lista-articulos></app-lista-articulos>
</div>