<div>
  <div class="d-flex">
    <div>
      <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput type="text" [(ngModel)]="filter">
        @if (removeableFilter) {
          <button matSuffix mat-icon-button (click)="removeFilter()">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Método Pago</mat-label>
        <mat-select [(ngModel)]="selectedTipoPago">
          @for(p of tiposPago; track p){
            <mat-option [value]="p"><b>{{p.nombre}}</b> ({{p.porcentajeRecargo}}%)</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button mat-flat-button color="primary" [disabled]="filter.length<3" (click)="getItems()"><mat-icon>search</mat-icon> Buscar</button>
    </div>
  </div>
  <div>
    <table mat-table [dataSource]="articulos">
      <!-- Position Column -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let articulo">{{articulo.codigo}}</td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let articulo">{{articulo.nombre}}</td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let articulo">{{articulo.descripcion}}</td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef>Precio</th>
        <td mat-cell *matCellDef="let articulo">{{(selectedTipoPago ? precio(articulo.costo ,selectedTipoPago.porcentajeRecargo) : articulo.costo) | currency}}</td>
      </ng-container>
      
      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let articulo" class="text-end">
          <button mat-icon-button (click)="send(articulo)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button (click)="openDialog(articulo.codigo)" ><mat-icon>print</mat-icon></button>
        </td>
      </ng-container>
      
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr><!--(click)="send(articulo)"-->

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">
          <div class="w-100 d-flex justify-content-center">
            <div style="height: 200px;" class="d-flex w-100">
              <div class="m-auto text-center">
                <mat-icon class="illustration-icon text-light">list_alt_add</mat-icon>
                @if(removeableFilter){
                  <p class="text-light fs-2">No hay artículos que cumplan con la búsqueda</p>
                }
                @else{
                  <p class="text-light fs-2">Aquí veras los artículos que agregues</p>
                }
              </div>
            </div>
          </div>
        </td>
      </tr>

    </table>
    <mat-paginator [length]="count" [pageSize]="size" (page)="onPageChange($event)"></mat-paginator>
  </div>
</div>