<div>
  <div class="d-flex">
    <div>
      <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput type="text" [(ngModel)]="filter">
        @if (removeableFilter) {
          <button matSuffix mat-icon-button (click)="removeFilter()">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Método Pago</mat-label>
        <mat-select [(ngModel)]="selectedTipoPago">
          @for(p of tiposPago; track p){
            <mat-option [value]="p"><b>{{p.nombre}}</b> ({{p.porcentajeRecargo}}%)</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button mat-mini-fab color="accent" [disabled]="filter.length<3" (click)="getItems()">Buscar</button>
    </div>
  </div>
  <div>
    <table mat-table [dataSource]="articulos">
      <!-- Position Column -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let articulo">{{articulo.codigo}}</td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let articulo">{{articulo.nombre}}</td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let articulo">{{articulo.descripcion}}</td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef>Precio</th>
        <td mat-cell *matCellDef="let articulo">{{selectedTipoPago ? (articulo.costo * selectedTipoPago.porcentajeRecargo) : articulo.costo}}</td>
      </ng-container>
      
      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let articulo" class="text-end"><button (click)="send(articulo)">editar</button></td>
      </ng-container>
      
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns;"
      ></tr><!--(click)="send(articulo)"-->
    </table>
    <mat-paginator [length]="count" [pageSize]="size" (page)="onPageChange($event)"></mat-paginator>
  </div>
</div>